<!-- import Layout -->
{% include 'layout.html' %}

<!-- modify page title -->
{% block title%}
<title>BFP - home</title>
{%endblock%}

<!-- Start Nav Bar -->
{% include "nav.html" %}
<!-- End Nav Bar -->

<main class="main">
    <!-- import sections -->
    {% include "landing.html" %} {% include "about.html" %} {% include
    "stats.html" %} {% include "services.html" %} {% include "appointments.html"
    %} {% include "team.html" %} {% include "faq.html" %} {% include
    "gallery.html" %} {% include "contact.html" %} {% include "footer.html" %}
</main>
