<!-- Start Nav Bar -->
<div class="branding d-flex align-items-center">
    <div
        class="container position-relative d-flex align-items-center justify-content-between"
    >
        <a href="index.html" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="{{url_for('static', path = '/img/log.png')}}" alt="" />
            <h1 class="sitename">BelfastPlus</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <a href="#hero" class="active">Home<br /></a>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#departments">Departments</a></li>
                <li><a href="#doctors">Staff</a></li>
                <li class="dropdown">
                    <a href="#"
                        ><span>Shop</span>
                        <i class="bi bi-chevron-down toggle-dropdown"></i
                    ></a>
                    <ul>
                        <li><a href="#">Featured products</a></li>
                        <li class="dropdown">
                            <a href="#"
                                ><span>Drugs</span>
                                <i
                                    class="bi bi-chevron-down toggle-dropdown"
                                ></i
                            ></a>
                            <ul>
                                <li>
                                    <a href="#">Analgesics/Anti-inflamatory</a>
                                </li>
                                <li>
                                    <a href="#">Antibiotics</a>
                                </li>
                                <li>
                                    <a href="#">Antimalaria</a>
                                </li>
                                <li>
                                    <a href="#">Supplements/Multivitamins</a>
                                </li>
                                <li>
                                    <a href="#">Gastro-intestinal(GIT)</a>
                                </li>
                                <li>
                                    <a href="#">Hormonal/Family planning</a>
                                </li>
                                <li>
                                    <a href="#">search store</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Cosmetics</a></li>
                        <li><a href="#">Toiletries</a></li>
                        <li><a href="#">Confectionaries</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#appointment"
            >Make an Appointment</a
        >
    </div>
</div>
<!-- End Nav Bar -->
